.BreadCrumb{
    width: 80%;
    margin-left: 20%;
    margin-top: 4em;
    height: 5em;
    left: 0;
    position: fixed;
    z-index: 90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: white;
    top:0;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    
}
.BreadCrumb li {
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}

.Cornered{
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    margin-left: 3em;
    padding: .5em 2em .5em 2em;
    margin-top: .6em;
}

.pageLogo {
    font-weight: bold;
    font-size: 20px
}

.pageWord{
    font-weight: bold; 
    font-size: 20px;
    margin-left: .5em;

}

@media (max-width: 576px) {
    .BreadCrumb {
        width: 100%;
        margin-left: 0;
    }

    .pageWord{
        font-weight: bold; 
        font-size: 16px;
        margin-left: .5em;
        font-size: 18px;
    }
}