.DownNav{
    width: 100%;
    height: 4em;
    background-image: linear-gradient(to bottom right, #0C2A49,  #056fb2);
    left: 0;
    position: fixed;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    z-index: 90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    top: 0;
    margin-top: 5em;
    
}

.DownNav1{
    width: 100%;
    height: 4em;
    background-image: linear-gradient(to right, white 10%,  #0C2A49 90%);
    left: 0;
    position: fixed;
    top: 0;
    z-index: 90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    
}


.DropDlinks {
    color: white !important;
    font-weight: bold !important;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none
    }

    .DropDlinks{
        font-size: 8px;
    }
      
}