.Transactions{
    /* display: flex; */
    left: 20%;
    margin-top: 0;
   ;
}

.Side{
    width: 20%;
    position: fixed;
    bottom: 10;
    top: -30;
    /* box-sizing: border-box; */
    /* left: 0; */
    height: 100%;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
}

.Content{
    width: 70%;
    margin-left: 25%;
    /* height: 100%; */
}
.makeTransferBut{
    float: right;
    margin-top: .5em;
    background-image: linear-gradient(to bottom right, #0C2A49,  #056fb2);
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
}
.makeTransferBut:hover{
    border: 1px solid #0C2A49;
    color: #0C2A49;
    background: unset;
    padding: 15px;
}