.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a{
    color: black;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
  color: #40a4c8;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    
    }
    
    .NavigationItem a{
        color: black;
        text-decoration: none;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;
        display: block;
        font-weight: bold;
        
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active{
        /* border-bottom: 4px solid #40a4c8; */
        color: #aeec1c;
        box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
        padding: .5em 1.5em;
        font-weight: bold;
    }
}