@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap');

.Container {
    /* width */
    display: flex;
    justify-content: center;
}
.Login {
    font-family: 'Exo 2', sans-serif;
    width: 400px;
    height: 10%;
    margin: 0;
    box-shadow: 0 1px 3px 1px #dcdcdc;
    padding: 30px;
    margin-top: 90px;
}
.LoginBtn{
 background: #14477b !important;
 color: white !important;
 margin-top: 1em;
}

@media (max-width: 499px) {
    .Login {
        width: 300px;
    }
}
.MoveLeft{
    margin-left: 9px;
}
