.Logo{
    height: 4em;
    margin-left: 3em;
    margin-top: 1em;
}

@media (max-width: 991.98px) { 
    .Logo {
        height: 6em;
        width: 10em;
        margin-left: 3em;
        margin-top: 1em;
    }
  }

  @media (max-width: 576px) {
    .Logo {
        height: 4.6em;
        width: 8em;
        margin-left: 0;
    }
}