
.Layout{
    margin:0;
    padding:0;
    border: 0;
    outline: 0;
    overflow-x:hidden;
	overflow-y:hidden;
    width: 100%
}
.Content1{
    margin-top: 50px;
}

.LoginHead{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

.Side{
    width: 20%;
    position: fixed;
    bottom: 10;
    top: -30;
    /* box-sizing: border-box; */
    /* left: 0; */
    height: 100%;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
}


@media (max-width: 576px) {
    .Side {
        display: none
    }
}
