.Sidebar {
    height: 200px;
    width: 100%;
    margin-top: 10px;
}

.Sidebar li{
    list-style: none;
    
    
    /* margin-left: -2.5em; */
    margin-top: .5em;
    
}

.Sidebar a {
    text-decoration: none;
    display: block;
    padding: 1em;
    margin-left: -2em;
    transition:all 0.3s ease-out;
}

.Sidebar a:hover,
.Sidebar a:active,
.Sidebar a.active{
    border-left: 10px solid #056fb2;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    text-decoration: none;
}




/* .Sidebar h1{
    background : green;
} */

