.Pre {
    position: fixed;
    z-index: 500;
    width: 100%;
    box-shadow: 1px 1px 1px black;
    padding: 25px;
    padding-top: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    min-height: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right,#4d0067,violet);
    /* max-height: 600px; */
}