.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    flex-flow: column;
    margin-top: 1em;
    

 }

 .Link {
    font-size: 12px;
 }

 .Nav{
   display: flex;
   flex-flow: row;
 }

 .SearchForm{
    padding: 15px 7px;
    width: 20em;
    margin-top: .5em;
 }

    @media (min-width: 500px) {
       .NavigationItems {
          width: 100%;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
       }
    }

    @media (max-width: 991.98px) { 
       .NavigationItems {
          font-size: 13px;
       }
     }