@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Exo2-VariableFont_wght.ttf");
}
.App{
  font-family: 'Exo 2', sans-serif;
  /* position: relative; */
  margin:0;
  padding:0;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
  position: absolute;
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
  position: absolute;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
  position: absolute;
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
  position: absolute;
}




